<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="imo.moraes.isabele.com.br.propaganda">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/promotion"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.sobre"></activity>
        <activity
            android:name=".view.activity_slide_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".view.activity_slide_1"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".view.cadastro_propaganda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>